body{
  background-color: #FAFAFA;
  margin:0;
  padding:0;
}

#container{
  height:700px;
  display:grid;
  grid-template-columns:repeat(1,1fr)
  grid-template-rows:25% 70%;
}

#headings{
  text-align: center;
  font-size:32px;
  color:#2E3B4E;
}

.flex{
  display:flex;
  justify-content: space-around;
  align-items:center;
}

#left{
border-color:#EDB312;
text-align: center;
margin:10px;
}

#centerleft{
text-align: center;
margin:10px;
}

#centerright{
text-align: center;
margin:10px;
}

#right{
text-align: center;
margin:10px;
}

.content{
  color:#5F6A7D;
  text-align: center;
  font-size:16px;
}

.yellow{
  color:#EDB312;
}

.green{
  color:#95BF15;
}

.bluegreen{
  color:#46C9B3;
}

.yellowbox{
  background-color:#FFFFFF;
  border-radius:10px;
}

.greenbox{
  background-color:#FFFFFF;
  border-radius:10px;
}
.bluegreenbox{
  background-color:#FFFFFF;
  border-radius:10px;
}

.yellowbox:hover{
  border:solid;
  border-color:#EDB312;
}

.greenbox:hover{
  border:solid;
  border-color:#95BF15
}

.bluegreenbox:hover{
  border:solid;
  border-color:#46C9B3;
}

a:link{
  color:inherit;
  text-decoration: none;
}

a:visited{
  color:inherit;
  text-decoration: none;}

.last{
  text-align: center;
}
#footer{
  color:#2586B7;
  }