body{
  background-color: #FAFAFA;
  margin:0;
  padding:0;
  font-family: 'Ubuntu', sans-serif;
  font-size:18px;
}

#container{
  height:700px;
  display:grid;
  grid-template-columns:repeat(4,1fr)
  grid-template-rows:25% 70%;
}

#headings{
  text-align: center;
  font-size:32px;
  color:#2E3B4E;
}
#middle{
    font-size:18px;
  /*margin:10px;*/
  /*display:grid;
  grid-template-columns:repeat(4,1fr);*/
}
.flex{
  /*flex-wrap:wrap;*/
  /*margin:10px;*/
  display:flex;
  justify-content: space-between;
  align-items:center;
}

#left{
/*width:20%;*/
border-color:#EDB312;
text-align: center;
}
p.content{
    font-size:18px;
}

#centerleft{
/*grid-column:1/2;*/
/*width:20%;*/
text-align: center;
}

#centerright{
/*grid-column:1/2;*/
/*width:20%;*/
text-align: center;
}

#right{
/*grid-column:1/2;*/
/*width:20%;*/
text-align: center;
}

.content{
  color:#5F6A7D;
  text-align: center;
  font-size:10px;
}
.yellow{
  color:#EDB312;
}
.green{
  color:#95BF15;
}
.bluegreen{
  color:#46C9B3;
}
.yellowbox{
  background-color:#FFFFFF;
  border-radius:10px;
}
.greenbox{
  background-color:#FFFFFF;
  border-radius:10px;
}
.bluegreenbox{
  background-color:#FFFFFF;
  border-radius:10px;
}
.yellowbox:hover{
  border:solid;
  border-color:#EDB312;
}
.greenbox:hover{
  border:solid;
  border-color:#95BF15
}
.bluegreenbox:hover{
  border:solid;
  border-color:#46C9B3;
}
a:link{
  color:inherit;
  text-decoration: none;
}
a:visited{
  color:inherit;
  text-decoration: none;}

.last{
  text-align: center;
}
#footer{
  color:#2586B7;
  }


#secondpart{
  display:grid;
  grid-template-row:repeat(3,1fr);
}

#imgcontainer{
  display:grid;
  grid-template-column:repeat(2,1fr);
  grid-template-row:repeat(2,1fr);
}

#leftpart{
  margin:10px;
  grid-column-start:1;
  grid-column-end:3;

}

#rightpart{
   margin:10px;
   grid-column-start:3;
  grid-column-end:5;
  display:grid;
  grid-template-column:repeat(2,1fr);
}

#topimg{
   margin:10px;
}
#botimg{
   margin:10px;
  display:grid;
  grid-template-row:repeat(2,1fr);
}
#leftbot{
   margin:10px;
    grid-column-start:1;
    grid-column-end:3;
}

#rightbot{
   margin:10px;
    grid-column-start:3;
    grid-column-end:5;
  }

#text{text-align:center;
  margin:10px;
  font-size:38px;}

#footertext{
  margin:10px;
   text-align:center;
  font-size:18px;
}

#thirdpart{
  background-color:#FAFAFA;
text-align: center;
}
#thridparttitle{
  margin:10px;
  font-size:50px;
}
#thirdpartcontext{
  margin:10px;
  color:grey;
  margin:30px;
}
#thirdnav{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(2,1fr);
  
}

.con{
  border:solid;
  border-bottom-width:0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 1px;
  border-color:#E0E0E0;
}

#thirdmiddlepart{
  text-align: center;
  color:white;
  background-color:#2996CC;
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:3;
  margin:10px;
}
#forthpart{
  background-color:#1B2126;
  color:white;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(1,1fr);
}


li{
  font-size:14px;
  margin:5px;
}
li.forthminititle{
  color:grey;
  font-size:20px;
}